<script src="https://kit.fontawesome.com/1d091d264a.js" crossorigin="anonymous"></script>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" (click)="notiService.openSnackbar('Back too homepage!!!')" routerLink="/home">Game App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li [matBadge]='cartService.addedGames.length' class="nav-item">
          <a class="fa-solid fa-cart-shopping fa-xl" routerLink="cart" (click)="notiService.openSnackbar('This is Cart')" ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="library" (click)="notiService.openSnackbar('This is Library')" >Library</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="profile" (click)="notiService.openSnackbar('Profile Page')" >{{authService.session.username}}</a>
        </li>
       
      </ul>
      
    </div>
  </nav>