<div class="backg vh-100 d-flex justify-content-start align-items-center">

    <div class="placement container d-flex">

        <mat-card class="d-flex">

            <mat-card-title class="d-flex justify-content-center">
                <h4 class="card-title">Signup</h4>
            </mat-card-title>

            <mat-card-content>

                <form [formGroup]="loginForm" (ngSubmit)="submit()">

                    <div formGroupName="profile">
                        <div class="inputField">
                            <mat-form-field>
                                <mat-label>Username</mat-label>
                                <input matInput type="text" placeholder="Username" formControlName="username">
                            </mat-form-field>
                        </div>

                        <!-- {{ username?.errors | json}} -->

                        <div *ngIf="username?.touched && username?.invalid">
                            <small *ngIf="username?.errors?.['required']" class="text-danger">
                                username is mandatory
                            </small>
                            <br>
                            <small *ngIf="username?.errors?.['minlength']" class="text-danger">
                                username should contain atleast 6 letters
                            </small>
                            <br>
                            <small *ngIf="username?.errors?.['usernameExist']" class="text-danger">
                                username {{ username?.errors?.['usernameExist'].value }} already exists!!!
                            </small>
                        </div>

                        <!-- <div *ngIf="password !== password2">
                        <small class="text-danger">
                            passwords should match
                        </small>
                    </div> -->

                        <div formGroupName="security">
                            <div class="inputField">

                                <mat-form-field>
                                    <input matInput type="password" placeholder="password" formControlName="password">
                                </mat-form-field>

                            </div>
                            <div class="inputField">

                                <mat-form-field>
                                    <input matInput type="password" placeholder="confirm password"
                                        formControlName="confirmPassword">
                                </mat-form-field>

                            </div>
                        </div>

                    </div>

                    <div class="inputField">
                        <mat-form-field>
                            <mat-label>Gender</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let gender of genders" value="gender">
                                    {{ gender }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="button d-flex">

                        <div>
                            <button class="signup-button" [disabled]="loginForm.invalid" mat-button
                                type="submit">Signup</button>
                        </div>


                    </div>

                    <div class="logindiv">
                        <p>Already have an account?<button class="login-button" routerLink="" mat-button
                                type="button">Login</button></p>
                    </div>

                </form>

            </mat-card-content>

        </mat-card>

    </div>

</div>