
<div (click)="details(currentGame.id)" class="d-flex flex-column game-box">

  <!-- image section  -->
  <section >
    <img [src]="currentGame.mainimg">
  </section>

  <!-- details section -->
  <section class="d-flex flex-column p-3 h-100 justify-content-between" style="gap: 15px 0;">
    <div class="d-flex flex-column">
      <span class="title">{{currentGame.title}}</span>
      <span class="sub-text">{{currentGame.catagory}}</span>
    </div>
    <div class="sub-info flex-column">{{currentGame.price | currency: 'INR' : 'symbol' : '1.0'}}</div>
  </section>

</div>

<!-- <span class="title">{{currentGame.title | slice: 0:18 }}{{currentGame.title.length > 18 ? '...' : ''}}</span> -->
