body {
    overflow: hidden;
}

.searchbar {
    margin-top: 20px;
    padding-left: 14px;
    padding-bottom: 5px;
    width: 400px;
    height: 36px;
    border: 3px solid rgb(119, 119, 119);
    border-radius: 16px;
    background-color: black;
    color: rgb(255, 255, 255);
    
}

.searchicon {
    color: rgb(124, 124, 124);
    font-size: 20px;
    position: relative;
    top: 2.5px;
    right: 35px;
}
