<div class="row">

    <div class="col-2">

        <app-sidenavbar></app-sidenavbar>

    </div>

    <div class="col-10">

        <!-- <div class="d-flex justify-content-center align-items-baseline gap-1 ">

            <div class="d-flex ">
                <form action="">
                    <input class="searchbar" type="text" placeholder="filter..." [formControl]="filterControl">
                </form>
            </div>
    
            <div class="d-flex ">
                <i class="fa-solid fa-magnifying-glass searchicon"></i>
            </div>
    
        </div> -->

        <router-outlet></router-outlet>

    </div>

</div>