<!-- <h2 mat-dialog-title>Confirmation.</h2>
<mat-dialog-content>
    {{confirMsg}}
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Buy</button>
</mat-dialog-actions> -->

<section class="d-flex flex-column">
    <div class="d-flex p-3">
        <h3>Confirmation.</h3>
    </div>
    <div class="d-flex">
        <mat-dialog-content>{{confirMsg}}</mat-dialog-content>
    </div>
    <div class="d-flex justify-content-end">
        <mat-dialog-actions class="d-flex justify-content-end gap-2">
            <button mat-button class="btn" mat-dialog-close>Cancel</button>
            <button mat-button class="btn btn-primary" [mat-dialog-close]="true" cdkFocusInitial>Buy</button>
        </mat-dialog-actions>
    </div>
</section>